# vscode設定内容
.vscode

# .oファイル
*.o

# 実行ファイル
coap-sample-c/sample_block_client/sample_block_client
coap-sample-c/sample_block_server/sample_block_server
coap-sample-c/sample_client/sample_client
coap-sample-c/sample_server/sample_server
coap-sample-c/sample_observe_client/sample_observe_client
coap-sample-c/sample_observe_server/sample_observe_server
coap-sample-c/sample_separate_client/sample_separate_client
coap-sample-c/sample_separate_server/sample_separate_server
coap-sample-c/sample_lwip_client/sample_lwip_client
coap-sample-c/sample_lwip_server/sample_lwip_server

# coap-app関連
coap-app/**/bin
coap-app/**/obj/Debug
coap-app/**/obj/Release
